.card {
  height: 120px;
  padding-top: 5px;
}

.sm-label {
  font-size: 0.9em;
  font-weight: bold;
}

.card-button{
  height: 100px;
  padding-top: 25px;
}

.balance-label {
  color: gray;
  padding-top: 5px;
  font-size: 0.9em;
}